.container {
    position: fixed;
    left: 50px;
    top: 50px;
    width: 400px;
    height: 500px;
    padding: 25px 50px;
    animation: show 1s;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        left: calc(50vw - 200px);
        top: calc(50vh - 300px);
    }
}
